.vs
Projekti/bin
Projekti/obj
Projekti/Fakultet/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.AssemblyInfo.cs
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.AssemblyInfoInputs.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.assets.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.csproj.AssemblyReference.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.GeneratedMSBuildEditorConfig.editorconfig
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.GlobalUsings.g.cs
Projekti/Fakultet/obj/Fakultet.csproj.nuget.dgspec.json
Projekti/Fakultet/obj/Fakultet.csproj.nuget.g.props
Projekti/Fakultet/obj/Fakultet.csproj.nuget.g.targets
Projekti/Fakultet/obj/project.assets.json
Projekti/Fakultet/obj/project.nuget.cache
Projekti/Fakultet/bin/Debug/net8.0/appsettings.Development.json
Projekti/Fakultet/bin/Debug/net8.0/appsettings.json
Projekti/Fakultet/bin/Debug/net8.0/Fakultet.deps.json
Projekti/Fakultet/bin/Debug/net8.0/Fakultet.dll
Projekti/Fakultet/bin/Debug/net8.0/Fakultet.exe
Projekti/Fakultet/bin/Debug/net8.0/Fakultet.pdb
Projekti/Fakultet/bin/Debug/net8.0/Fakultet.runtimeconfig.json
Projekti/Fakultet/bin/Debug/net8.0/Microsoft.OpenApi.dll
Projekti/Fakultet/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Projekti/Fakultet/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Projekti/Fakultet/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Projekti/Fakultet/obj/Debug/net8.0/apphost.exe
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.csproj.BuildWithSkipAnalyzers
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.csproj.CoreCompileInputs.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.csproj.FileListAbsolute.txt
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.csproj.Up2Date
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.dll
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.genruntimeconfig.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.MvcApplicationPartsAssemblyInfo.cache
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.MvcApplicationPartsAssemblyInfo.cs
Projekti/Fakultet/obj/Debug/net8.0/Fakultet.pdb
Projekti/Fakultet/obj/Debug/net8.0/ref/Fakultet.dll
Projekti/Fakultet/obj/Debug/net8.0/refint/Fakultet.dll
Projekti/Fakultet/obj/Debug/net8.0/staticwebassets.build.json
Projekti/Fakultet/obj/Debug/net8.0/staticwebassets/msbuild.build.Fakultet.props
Projekti/Fakultet/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Fakultet.props
Projekti/Fakultet/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Fakultet.props
