.logo {
    font-style: italic;
}

.ruka {
    cursor: pointer;
    font-weight: bold;
}

.desno {
    text-align: right;
}

.sredina {
    text-align: center;
}

.podebljano {
    font-size: 110%;
} 

.crta {
    border: 3px black inset;
}

.siroko {
    width: 100%;
}

.random {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    color: green;
    height: 3px;
}

td {
    font-size: 104%;
}

.loading-spinner-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brojStudenata{
    font-size: 5rem;
  }